[submodule "vscode"]
	path = vscode
	url = https://github.com/microsoft/vscode
	ignore = all
	shallow = true
[submodule "coq-100-theorems"]
	path = coq-100-theorems
	url = https://github.com/coq-community/coq-100-theorems
	ignore = all
	shallow = true
[submodule "software_foundations"]
	path = software_foundations
	url = https://github.com/marshall-lee/software_foundations
	ignore = all
	shallow = true
[submodule "CoqGym"]
	path = CoqGym
	url = https://github.com/princeton-vl/CoqGym
	ignore = all
	shallow = true